// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: 'MuseoSansRounded-100_0';
    src: url('/assets/fonts/MuseoSansRounded-100_0.otf') format('truetype');
}
@font-face {
    font-family: 'MuseoSansRounded-700_0';
    src: url('/assets/fonts/MuseoSansRounded-700_0.otf') format('truetype');
}

html{
    height: 100%;
}
/*end reset*/
body {
    font-family: 'MuseoSansRounded-100_0', sans-serif;
    
}

#navbar_top{
	
}