@import url('../vendor/font-awesome/css/font-awesome.min.css');
@import url('../vendor/sweetalert2/sweetalert2.min.css');
@import url('../vendor/bootstrap/css/bootstrap.min.css');
@import url('jquery.classycountdown.css');

@font-face {
    font-family: 'MuseoSansRounded-100_0';
    src: url('../fonts/MuseoSansRounded-100_0.otf') format('truetype');
}
@font-face {
    font-family: 'MuseoSansRounded-700_0';
    src: url('../fonts/MuseoSansRounded-700_0.otf') format('truetype');
}

html{
    height: 100%;
}
/*end reset*/
body {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    background: url(../images/bg.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    font-family: 'MuseoSansRounded-100_0', sans-serif;
    
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}

.overlay{
    position: absolute;
    top: 0;
    height: 56%;
    width: 100%;
    background: #0000001c;
}
.container{
    max-width: 720px;
}

.logo{
    width: 120px;
}
.main {
    color: #FFF;
    width: 100%;
    max-width: 720px;
    
    
}


#title{
    font-family: 'MuseoSansRounded-700_0', sans-serif;
    font-size: 3em;
    text-align: center;
}
.subscribe {
    input {
        &[type="email"] {
            outline: none;
            padding: 10px 30px;
            border: 2px solid #ffff;
            border-radius: 25px;
            background: none;
            font-size: 14px;
            color: #fff;
            width: 60%;
        }

        &[type="submit"] {
            outline: none;
            padding: 12px 20px;
            border: none;
            background: #57b60f;
            border-radius: 50px;
            font-size: 14px;
            color: #fff;
            margin: 1em 0 0 0em;
            cursor: pointer;
            width: 100px;
            &:hover {
                background: #57b60f;
                transition: 0.5s all;
                -webkit-transition: 0.5s all;
                -o-transition: 0.5s all;
                -moz-transition: 0.5s all;
                -ms-transition: 0.5s all;
            }

        }

    }

}

.contact-form {
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
    
}


.ClassyCountdown-wrapper {
    text-align: center;
}

.ClassyCountdown-wrapper > div {
    display: inline-block;
    position: relative;
    width: 110px !important;
    margin: 0 1%;
    height: 110px !important;
    border-radius: 50%;
    
}
.ClassyCountdown-value {
    div{
        font-size: 30px !important;
        font-family: 'MuseoSansRounded-100_0', sans-serif;
        position: relative;
        color: #000;
        &:after{
            
            content: "";
            position: absolute;
            bottom: -5px;
            height: 3px;
            left: 0;
            right: 0;
            margin: auto;
            width: 22px;
            background-color: #58b83f;
        }
    }
    
    span {
        font-family: 'MuseoSansRounded-100_0', sans-serif;
        color: #000;
        font-size: 12px !important;
    }

}

.ClassyCountdown-wrapper canvas {
    width: 110px;
    height: 110px;
    background: #FFFFFF;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

.sosmed{
    margin: 10px auto;
    padding: 0;
    
    li{
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.1);
        -webkit-border-radius: 50px;
                border-radius: 50px;
        width: 30px;
        height: 30px;
        margin: 5px;
        padding-top: 3px;
        a{
            
            color: #CCCCCC; 
            font-size: 14px;    
            line-height: 24px;  
            text-align: center;
            i{
                
            }
            
        }
        &:hover{
            background: #57b60f;
            color: #FFF;
        }
    }
}

/*-- responsive media queries --*/
@media (max-width:1440px) {
    .contact-form {
        // width: 59%;
    }

}

@media (max-width:1366px) {
    .contact-form {
        // width: 62%;
    }

}

@media (max-width:1280px) {
    .contact-form {
        // width: 67%;
    }

    .ClassyCountdown-wrapper canvas {
        width: 100%;
        height: initial;
    }

}

@media (max-width:1080px) {
    .content {
        padding: 71px 0;

        h1 {
            font-size: 36px;
        }

    }

    .main {
        
    }

    .subscribe h2 {
        font-size: 1.3em;
    }

    .contact-form {
        // width: 70%;
    }

    

}


@media (max-width:1024px) {
    .contact-form {
        // width: 60%;
    }

    .subscribe {
        input[type="submit"] {
            margin: 0em 0 0 0em;
        }

        h2 {
            margin-bottom: 2em;
        }

        margin-top: 4em;
    }

    .content h1 {
        font-size: 29px;
    }

}

/*-- w3layouts --*/
@media (max-width:991px) {
    

    .ClassyCountdown-wrapper > div {
        margin: 0 3%;
    }

}

@media (max-width:800px) {
    .subscribe input {
        &[type="email"] {
            font-size: 13px;
            width: 60%;
        }

        &[type="submit"] {
            padding: 10px 20px;
            font-size: 14px;
        }

    }

    .main {
        
    }

    p.copy_rights {
        font-size: 13px;
    }

    .subscribe h2 {
        font-size: 1.2em;
    }

    .ClassyCountdown-wrapper > div {
        margin: 0 1%;
    }

    

}

@media (max-width:768px) {
    
    .content {
        padding: 134px 0;
    }

    .main {
        
    }

    /*-- agileits --*/
    .subscribe {
        margin-top: 8em;
    }

}

@media (max-width:736px) {
    .content {
        padding: 76px 0;
    }

    .subscribe {
        margin-top: 5em;
    }

    
}

@media (max-width:667px) {
    .content {
        padding: 52px 0;
    }

    .main {
        
    }

    .subscribe {
        margin-top: 2.5em;
    }

    .contact-form {
        // width: 78%;
    }

    

}

@media (max-width:640px) {
    .ClassyCountdown-value {
        font-size: 18px !important;

        span {
            font-size: 10px !important;
        }

    }

    .subscribe input[type="email"] {
        font-size: 13px;
        width: 60%;
    }

}

/*-- w3layouts --*/
@media (max-width:600px) {
    .ClassyCountdown-value {
        font-size: 18px !important;

    }

    .subscribe input[type="email"] {
        width: 60%;
    }

}

@media (max-width:568px) {
}

@media (max-width:480px) {
    .content h1 {
        font-size: 25px;
    }

    .subscribe h2 {
        font-size: 1em;
    }

    .contact-form {
        // width: 95%;
    }

   
    .ClassyCountdown-value {
        > div{
            font-size: 10px !important;
        }

    }

    .ClassyCountdown-wrapper > div {
        width: 70px !important;
        height: 70px !important;
    }

}

@media (max-width:414px) {
    .ClassyCountdown-value {
        > div{
            font-size: 10px !important;
        }


        span {
            font-size: 8px !important;
        }

    }

    .contact-form {
        // width: 100%;
    }

    .subscribe input {
        &[type="email"] {
            padding: 8px 10px;
            width: 200px;
            margin-bottom: 10px;
        }

        &[type="submit"] {
            padding: 10px 20px;
        }

    }

    p.copy_rights {
        line-height: 1.8em;
    }

   
    /*-- agileits --*/
    .content {
        padding: 95px 0;
    }

    .main {
        
    }

    .subscribe {
        margin-top: 4.5em;
    }


}

@media (max-width:384px) {
    p.copy_rights {
        width: 95%;
        margin: 0 auto;
    }

    .subscribe input[type="email"] {
        width: 150px;
    }

    .content {
        padding: 61px 0;
    }

}

@media (max-width:375px) {
    .content h1 {
        font-size: 23px;
    }

    .subscribe input[type="email"] {
        width: 150px;
    }
    
    .ClassyCountdown-wrapper > div {
        width: 45px !important;
        height: 45px !important;
    }
}


@media (max-width:320px) {
    .content h1 {
        font-size: 20px;
    }

    .subscribe {
        input[type="submit"] {
            padding: 10px 20px;
        }

        h2 {
            font-size: .9em;
        }

        input[type="email"] {
            width: 80%;
        }

    }

    .ClassyCountdown-wrapper .ClassyCountdown-value {
        top:55%;
        line-height: 0.8em;
    }

    .ClassyCountdown-value {
        font-size: 18px !important;

        span {
            font-size: 7px !important;
        }

    }

    .main {
        
    }

    .subscribe {
        margin-top: 2.5em;
    }

    .content {
        padding: 76px 0;
    }
}

/*-- responsive media queries --*/