.sidebar-header {
    background-color: #fff;
}

.sidebar .menu:not(.menu-bordery)>.menu-item.active>.menu-link {
    background-color: #0734e9;
}

.sidebar .menu-submenu .menu-item.active>.menu-link .dot::after, .sidebar .menu-submenu .menu-item:hover>.menu-link .dot::after {
    background-color: #0734e9;
    border-color: #0734e9;
}