
@import '../vendor/bootstrap/css/bootstrap.min.css';
@import '../vendor/font-awesome/css/font-awesome.min.css';
@import '../vendor/slick/slick.css';
@import '../vendor/slick/slick-theme.css';

@font-face {
    font-family: 'MuseoSansRounded-100_0';
    src: url('../fonts/MuseoSansRounded-100_0.otf') format('truetype');
}
@font-face {
    font-family: 'MuseoSansRounded-700_0';
    src: url('../fonts/MuseoSansRounded-700_0.otf') format('truetype');
}

html{
    height: 100%;
}
/*end reset*/
body {
    font-family: 'MuseoSansRounded-100_0', sans-serif;
    background: #FFF;
    -ms-overflow-x: hidden;
        overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'MuseoSansRounded-700_0';
}

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before{
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.container {
    max-width: 1140px;
}

			

.btn_main{
	background: #12B505;
	box-shadow: 0px 15px 30px rgba(171, 171, 171, 0.25);
	color: #FFF;
	text-transform: capitalize;
	padding: 20px 60px;
	border-radius: 36px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;

	&:hover{
		color: #FFF;
	}
}

#navbar_top{
	background: #FFF;
	z-index: 9;
	#main_navbar{
		margin-left: 20px;
		ul{
			li{
				a{
					font-style: normal;
					font-weight: normal;
					font-size: 17px;
					line-height: 20px;
					text-align: center;
					letter-spacing: 0.02em;
					padding-left: 20px;
					padding-right: 20px;
					color: #6B6B6B;
				}
				.dropdown-menu {
					margin-top: 15px;
					background: #f2f2f2;
					border-color: rgba(0,0,0,.05) rgba(0,0,0,.05) #000;
					padding: 0;
					a{
						text-align: left;
						color: #262626;
						padding-left: 24px;
					    padding-top: 18px;
					    padding-bottom: 18px;
					    font-size: 13px;
					}
				}
			}
		}
			
	}
}

.section{
	padding: 80px 0px;
	.section_title{
		text-align: center;
		margin-bottom: 30px;
		h3{
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 43px;

			color: #404040;
		}
		h6{
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 24px;
			letter-spacing: 0.04em;

			color: #5F5F5F;
		}
	}
}

.content_video{
	margin-bottom: 30px;
	position: relative;
	.img_video{
		border-radius: 8px;		
	}
	.overlay{
		position: absolute;
		top:0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 8px;		
		img{
			max-width: 100px;
		}
	}
}

.banner_img{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

#banner_hero{
	background-image: url("../images/banner_bg_home.png");
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	#video{
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: 0;
		-ms-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
	.content_right{
		color: #FFF;
		.icon_chat{
			margin-bottom: 20px;
		}
		h3{
			font-style: normal;
			font-weight: bold;
			font-size: 42px;
			line-height: 60px;
			letter-spacing: 0.02em;
			margin-bottom: 10px;
		}
		h6{
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: 0.04em;
		}
		.download_client{
			border: 1px solid #fff;
		    width: 200px;
		    margin: auto;
		    margin-top: 10px;
		    border-radius: 4px;
		}
	}
}

.card_item_why{
	border-color: transparent;
	text-align: center;
	margin-bottom: 30px;
	img{
		max-width: 300px;
		margin-bottom: 25px;
	}
	h3{
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 34px;
		color: #404040;
	}
	p{
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 32px;
		text-align: center;
		color: #6F6F6F;
	}
}

#home_do{
	background: #F9F9F9;
}

.card_item_do{
	border-color: transparent;
	box-shadow: 0px 9px 18px rgba(205, 205, 205, 0.25);
	background: #FFFFFF;
	border-radius: 8px;
	margin-bottom: 30px;
	padding: 20px 0px;
	position: relative;
	.coming{
		position: absolute;
		right: -15px;
		top: 15px;
	}
	.content{
		padding: 0px 20px;
	}
	h3{
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: 0.02em;
		color: #515151;
	}
	p{
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 28px;
		height: calc(3*28px);
		color: #6E6E6E;
	}
	.more{
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #12B505;
	}
}

// #banner_download{
// 	background: #FFF;
// 	padding: 10px 0;
// 	.content_left{
// 		.content_download{
// 			font-style: normal;
// 			font-weight: normal;
// 			font-size: 20px;
// 			line-height: 36px;
// 			color: #5E5E5E;
// 			margin-bottom: 40px;
// 		}
// 	}
// }

#banner_download_home{
	background: #FFF;
	padding: 10px 0;
	.content_left{
		.download_box{
			
		}
		.content_download{
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 36px;
			color: #5E5E5E;
			margin-bottom: 40px;
		}
	}
}

//*************************************************************************************************

// about company page

// *************************************************************************************************

#about_video{
	padding: 50px 0;
	.about_video_right{

		h3{
			font-style: normal;
			font-weight: bold;
			font-size: 34px;
			line-height: 41px;
			letter-spacing: 0.1em;
			color: #202020;
			margin-bottom: 20px;
		}
		.content_video{
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 34px;
			letter-spacing: 0.02em;
			color: #404040;
		}
	}
}

#about_visi_misi{
	padding: 40px 0px 40px;
	.visi,.misi{
		background: #FFFFFF;
		box-shadow: 0px 10px 20px rgba(190, 190, 190, 0.25);
		padding: 30px 25px;
		margin-bottom: 20px;
		img{
			
		}
		h3{
			font-style: normal;
			font-weight: bold;
			font-size: 30px;
			line-height: 36px;
			text-align: center;
			margin-top: 40px;
			margin-bottom: 10px;
			color: #414045;
		}
		.content{
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 32px;
			text-align: center;
			color: #434343;
			min-height: 96px;

		}
	}
}

#about_our_value{
	padding: 60px 0;
	background: #FBFBFB;
	.section_title{
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 43px;

		color: #404040;
	}
	.item_value{
		padding: 30px;
		img{
			
		}
		h3{
			font-style: normal;
			font-weight: 500;
			font-size: 26px;
			line-height: 31px;
			text-align: center;
			margin-top: 30px;
			margin-bottom: 20px;
			color: #414045;
		}
		.content{
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 30px;
			text-align: center;
			color: #2F2F2F;
		}
	}
}

#about_message{
	background: #FFF;
	padding: 120px 0 30px;
	.item_message_left{
		margin-bottom: 30px;
	}
	.item_message_right{
		margin-bottom: 30px;
		h5{
			font-style: normal;
			font-weight: 500;
			font-size: 28px;
			line-height: 34px;
			color: #12B505;
		}
		h3{
			font-style: normal;
			font-weight: bold;
			font-size: 42px;
			line-height: 56px;
			margin-top: 25px;
			margin-bottom: 30px;
			color: #404040;
			
		}
		.content{
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 30px;
			letter-spacing: 0.02em;

			color: #515151;
			p{
				margin-bottom: 30px;
			}
			.name{
				font-style: normal;
				font-weight: bold;
				font-size: 20px;
				line-height: 24px;
				color: #404040;
				span{
					
				}
			}
		}
	}
}


//*************************************************************************************************

// csr page

// *************************************************************************************************

#banner_csr{
	background-image: url("../images/bg_banner_csr.png");
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	padding: 80px 0px 120px;
	.banner_csr{
		text-align: center;
		h3{
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 43px;
			margin-bottom: 20px;
			color: #404040;
		}
		.content{
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			letter-spacing: 0.04em;
			margin-bottom: 40px;
			color: #919191;

		}
	}
}
#csr_about{
	padding: 60px 0px 30px;
	.about_right{
		h4{
			font-style: normal;
			font-weight: bold;
			font-size: 34px;
			line-height: 41px;
			margin-bottom: 25px;
			letter-spacing: 0.04em;

			color: #202020;
		}
		.content{
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 34px;
			color: #3C3C3C;
		}
	}
}

#our_csr{
	.section_page{
		padding: 30px 0;
		h3{
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 43px;

			color: #404040;
		}
		.content{
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			/* or 150% */

			text-align: center;
			letter-spacing: 0.04em;

			color: #919191;
		}
	}
	.program{
		padding: 30px 0;
		.item_programs{
			background: #FFFFFF;
			box-shadow: 0px 4px 30px rgba(197, 197, 197, 0.25);
			border-radius: 8px;
			margin-bottom: 30px;
			padding: 50px 30px;
			img{
				
			}
			h3{
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 29px;
				text-align: center;
				margin-top: 30px;
				margin-bottom: 20px;
				color: #414045;
			}
			.content{
				font-style: normal;
				font-weight: normal;
				font-size: 17px;
				line-height: 38px;
				/* or 224% */

				text-align: center;
				letter-spacing: 0.04em;

				color: #8D8D8D;
			}
		}
	}
}

#csr_testimoni{
	padding: 60px 0;
	.testimoni_left{
		h3{
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 54px;
			color: #404040;
			margin-bottom: 30px;
			&:before{
				content:"";
				position: absolute;
				top:-30px;
				background: #12B505;
				width: 70px;
				height: 4px;
			}
		}
		.content{
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 32px;
			/* or 200% */

			letter-spacing: 0.04em;

			color: #4B4B4B;
		}
	}
	.testimoni_right{
		.item_testimony{
			background: #FFFFFF;
			box-shadow: 0px 20px 40px rgba(197, 197, 197, 0.25);
			border-radius: 16px;
			padding: 50px 40px;
			.media{
				img{
					width: 85px;
					height: 85px;
					-webkit-border-radius: 50%;
					        border-radius: 50%;
				}
				.media-body{
					h5{
						font-style: normal;
						font-weight: 500;
						font-size: 24px;
						line-height: 29px;

						color: #414045;
					}
					p{
						font-style: normal;
						font-weight: normal;
						font-size: 18px;
						line-height: 22px;
						letter-spacing: 0.04em;

						color: #A0A0A0;
					}
				}
			}
			.content{
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 26px;
				/* or 186% */

				letter-spacing: 0.04em;

				color: #616161;
			}
		}
	}
}

#csr_activity{
	background: #FBFDFC;
	padding: 70px 0;
	.section_title{
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 30px;

		color: #404040;
	}
}
.item_actifity{
	.bg_img{
		@include aspect-ratio(4,2);
	}
	h4{
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		margin-top: 30px;
		margin-bottom: 15px;

	}
	.content{
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 28px;
		height: 56px;
		overflow: hidden;
		color: #676767;
		margin-bottom: 15px;
	}
	a{
		color: #1D1D1D;
	}
	&:hover{
		a{
			color: #12B505;
			text-decoration: none;
		}
	}

}

//*************************************************************************************************

// featured page

// *************************************************************************************************

#banner_featured{
	position: relative;
	padding: 30px 0px;
	text-align: center;
	h3{
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 43px;
		margin-bottom: 20px;
		color: #404040;
	}
	.content{
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.04em;
		margin-bottom: 40px;
		color: #919191;

	}
}

#content_featured{
	padding: 30px 0px;
	text-align: center;
	.section_page{
		h3{
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 43px;

			color: #404040;
		}
		.content{
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			/* or 150% */

			text-align: center;
			letter-spacing: 0.04em;

			color: #919191;
		}
	}
	.list_featured{
		padding: 30px 0;
		.item_feature{
			margin-bottom: 30px;
			h3{
				font-style: normal;
				font-weight: bold;
				font-size: 28px;
				line-height: 34px;
				text-align: center;

				color: #404040;

			}
			.content{
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 32px;
				text-align: center;
				color: #6F6F6F;
			}
		}
	}
}

//*************************************************************************************************

// security page

// *************************************************************************************************

#banner_security{
	position: relative;
	padding: 30px 0px;
	text-align: center;
	h3{
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 43px;
		margin-bottom: 20px;
		color: #404040;
	}
	.content{
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.04em;
		margin-bottom: 40px;
		color: #919191;

	}
}

#content_security{
	padding: 30px 0px;
	text-align: center;
	.section_page{
		h3{
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 43px;

			color: #404040;
		}
		.content{
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			/* or 150% */

			text-align: center;
			letter-spacing: 0.04em;

			color: #919191;
		}
	}
	.list_security{
		padding: 30px 0;
		.item_security{
			margin-bottom: 30px;
			h3{
				font-style: normal;
				font-weight: bold;
				font-size: 28px;
				line-height: 34px;
				text-align: center;

				color: #404040;

			}
			.content{
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 32px;
				text-align: center;
				color: #6F6F6F;
			}
		}
	}
}

// *************************************************************************************************

// contact us page

// *************************************************************************************************


#banner_contact_us{
	// background-image: url("../images/bg_banner_contact.svg");
	// -webkit-background-size: contain;
	//      -o-background-size: contain;
	//         background-size: contain;
	// background-position: center;
	// background-repeat: no-repeat;
	position: relative;
	padding: 30px 0px;
	.banner_contact_us_left{
		
	}
	.banner_contact_us_right{
		h3{
			font-style: normal;
			font-weight: 500;
			font-size: 36px;
			line-height: 43px;

			color: #1D1D1D;
		}
		.content{
			font-style: normal;
			font-weight: normal;
			font-size: 22px;
			line-height: 36px;
			/* or 164% */


			color: #3A3A3A;
		}
		a{
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			letter-spacing: 0.02em;

			color: #12B505;

		}
	}
}

#contact_support{
	background: #FBFDFC;
	padding: 70px 0px;
	.item_support{
		text-align: center;
		background: #FFFFFF;
		box-shadow: 0px 10px 20px rgba(190, 190, 190, 0.25);
		border-radius: 8px;
		padding: 40px 25px;
		img{
			margin-bottom: 15px;
		}
		h5{
			font-style: normal;
			font-weight: 500;
			font-size: 26px;
			line-height: 40px;
			text-align: center;
			min-height: 80px;
			color: #414045;
		}
		.content{
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 32px;
			text-align: center;
			color: #5B5B5B;
			a{
				color: #12B505;
			}

		}
	}
}
#contact_map{
	padding: 50px 0 50px; 
	background: #FFF;
	.section_title{
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 43px;
		letter-spacing: 0.02em;
		margin-bottom: 60px;
		color: #404040;
	}
	.item_alamat{
		margin-bottom: 30px;
		h3{
			margin-top: 30px;
			margin-bottom: 25px;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 43px;

			color: #404040;
		}
		.alamat{
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 36px;
			color: #595959;
		}
	}
}


//*************************************************************************************************

// download page

// *************************************************************************************************

#banner_download{
	position: relative;
	padding: 80px 0px;
	text-align: center;
	background: transparent;
	z-index: 1;
	h3{
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 43px;
		margin-bottom: 20px;
		color: #404040;
	}
	.content{
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.04em;
		margin-bottom: 60px;
		color: #404040;
	}
	.download_store{
	}
}
#bg_download{
	padding: 0 15px;
	margin-top: -200px;
}


// *************************************************************************************************

// careers page

// *************************************************************************************************

#banner_careers{
	background-image: url("../images/bg_banner_careers.png");
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 90px 0px;
	text-align: center;
	color: #FFF;
	h3{
		font-style: normal;
		font-weight: bold;
		font-size: 42px;
		line-height: 50px;
		text-align: center;

	}
	.content{
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		margin-bottom: 25px;
	}
	.search_job{
		.btn{
			background: #12B505;
			color: #FFF;
		}
	}
}
#variety{
	padding: 60px 0;
	.section_title{
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 43px;
		text-align: center;
		color: #404040;
		margin-bottom: 30px;
	}
	.variety_item{
		h4{
			font-style: normal;
			font-weight: 500;
			font-size: 28px;
			line-height: 34px;
			color: #1D1D1D;
			margin-bottom: 15px;
		}
		.content{
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 30px;
			color: #3A3A3A;
			margin-bottom: 30px;
		}
		.more{
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			letter-spacing: 0.02em;
			color: #12B505;
		}
	}
}

#careers_life{
	padding: 40px 0;
	.item_careers_life{
		margin-bottom: 40px;
	}
	h4{
		font-style: normal;
		font-weight: bold;
		font-size: 34px;
		line-height: 41px;
		letter-spacing: 0.04em;
		color: #202020;
	}
	.content{
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 34px;
		color: #3C3C3C;
	}
}

#careers_position{
	background: #FBFDFC;
	padding: 70px 0px;
	.top_career{
		.subtitle{
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 24px;
			color: #404040;
		}
		h3{
			font-style: normal;
			font-weight: 500;
			font-size: 30px;
			line-height: 36px;
			color: #404040;
		}
		.nav_tab{
			li{
				a{
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 19px;
					letter-spacing: 0.1em;
					color: #646464;
					&.active{
						position: relative;
						font-style: normal;
						font-weight: bold;
						font-size: 16px;
						line-height: 19px;
						letter-spacing: 0.1em;
						color: #12B505;
						&:after{
							content:"";
							position: absolute;
							bottom:0;
							left: 0;
							right: 0;
							background: #12B505;
							border-radius: 4px;
							height: 2px;
							width: 100%;
						}
					}
				}
			}
		}
	}
	.content_career{
		padding: 50px 15px;
		.item_careers{
			border-bottom: 1px solid #EAEAEA;
			.judul{
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				letter-spacing: 0.04em;
				color: #000000;
				margin-bottom: 10px;
			}
			.jam{
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 17px;
				letter-spacing: 0.04em;
				color: #12B505;
				span{
					color: #959595;
				}
			}
			.lokasi{
				color: #12B505;
			}
			.career-right{
				text-align: right;
				.btn_career{
					padding: 15px 30px;
					background: #12B505;
					color: #fff;
				}
			}
				
		}
	}
}


#banner_faq{
	position: relative;
	padding: 80px 0px;
	text-align: center;
	h3{
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 43px;
		margin-bottom: 20px;
		color: #404040;
	}
	.content{
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.04em;
		margin-bottom: 40px;
		color: #919191;

	}
	.search_faq{
		.btn{
			background: #12B505;
			color: #FFF;
		}
	}
}

#faq_category{
	padding: 30px 0px;
	text-align: center;
	.section_title{
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 43px;
		margin-bottom: 50px;
		color: #404040;
	}
	.item_category{
		background: #FFFFFF;
		box-shadow: 0px 8px 36px rgba(190, 190, 190, 0.25);
		border-radius: 16px;
		padding: 30px 30px;
		margin-bottom: 30px;
		h6{
			margin-top: 30px;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 29px;
			color: #404040;
		}
		
	}
}

#faq_list{
	padding: 30px 0px;
	.section_faq{
		text-align: center;
		margin-bottom: 50px;
		h3{
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 43px;
			color: #404040;
		}
		p{
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			letter-spacing: 0.04em;
			color: #919191;
		}
	}
	.card_faq{
		background: #FFFFFF;
		box-shadow: 0px 15px 40px rgba(190, 190, 190, 0.25);
		border-radius: 16px;
		border: 0px solid;
		padding: 40px 50px;
		.card-body{
			padding: 0;
		}
		.btn-link{
			font-style: normal;
			font-weight: bold;
			font-size: 22px;
			line-height: 26px;
			padding: 0;
			color: #333333;

		}
		.collapse{
			padding-top: 25px;
			padding-bottom: 25px;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 26px;
			color: #5B5B5B;
		}
	}
}


footer{
	position: relative;
	background: #2C2C2C;
	color: #FFF;
	#logo_footer{
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
	}
	#footer_top{
		padding-top: 80px;
		padding-bottom: 60px;
		
		.menu_footer{
			margin-bottom: 15px;
			h4{
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				color: #FFFFFF;
			}
			ul{
				padding-left: 0;
				li{
					margin-left: -15px;
					a{
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 19px;
						color: #FFFFFF;
						&:hover{
							color: #12B505;
						}
					}
				}
			}
		}
	}
	#footer_bottom{
		padding: 10px 0px;
		.footer_sosmed{
			li{
				margin: 0;
				padding: 5px;
				a{
					padding: 0;
				}
			}
		}
	}
	a{
		color: #FFF;
	}
}

@media (max-width: 575px) { 
	.card_item_do p {
	    height: auto;
	}
}

@media (max-width: 767px) { 
	.navbar-toggler {
	    color: #64c131;
	
	}
	#banner_hero .content_right {
	    margin-top: 30px;
	}

	footer #footer_top .menu_footer {
	    margin-bottom: 30px;
	}
	#banner_download_home{
		background: #FFF;
		padding: 10px 0;
		.content_left{
			.download_box{
				text-align: center;
			}
			.content_download{
			}
		}
	}
	.home_download_hp{
		display: none;
	}
	.list_download{
		justify-content: center !important;
	}
}